#header
        {
            background-color: lightgreen;
            color: #1B4332;
            text-align: center;
            font-size: 40pt;
            border: 5px solid white;
            border-radius: 50px;
        }
        body
        {
            background-color: #c1ebb0;
        }